*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


button:active, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
}


body {
  font-family: "Montserrat", sans-serif;
  color: #F8F5FA;
  background-color: #09000D;
  letter-spacing: 0.031em;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: "Codystar", cursive;
  font-weight: 300;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #F8F5FA;
}

h1 {
  font-size: 44px;
  text-shadow: -5px 10px 5px #F8F5FA;
}

.container2 {
  margin: 0 auto;
  width: 1000px;
}

.pageTitles {
  padding-top: 150px;
  text-align: center;
  margin-bottom: 50px;
}


.sectionHeader {
  text-shadow: 0 10px 4px #F8F5FA;
  margin-bottom: 50px;
}


.topBgFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: -10;
  background: -webkit-gradient(linear, left top, left bottom, from(#20002f), to(#09000D));
  background: linear-gradient(to bottom, #20002f, #09000D);
}

.headerLines {
  width: 150px;
  height: 1px;
  background-color: #C66FD0;
  border: none;
  margin: 0 auto 50px;
}

.margin2 {
  margin-bottom: 30px;
}


.resaBlock {
  position: relative;
  width: 100%;
  padding: 30px 30px;
  background-color: #20002f;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px 0 #450066;
          box-shadow: inset 0 1px 2px 0 #450066;
  margin-bottom: 24px;
}

.resaBlockHeader {
  font-size: 20px;
  color: #C66FD0;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #C66FD0;
  margin-bottom: 20px;
}

.mainExplanation {
  margin-bottom: 10px;
}

.instructions {
  color: #8F8097;
  font-size: 14px;
  margin-bottom: 20px;
}

.instructions li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.instructions li p {
  padding-left: 10px;
}

.listStyle {
  position: absolute;
  top: 5px;
  left: 0;
  fill: #5b4963;
}

#DateSelectionFreeReservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resaBlockLeft {
  width: 55%;
}

.resaBlockRight {
  width: 40%;
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#CalendarLeftArrow, #CalendarRightArrow{
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.selectedDate {
  border-radius: 50%;
  background-color: #C66FD0;
}

.month {
  text-align: center;
  width: 150px;
  line-height: 40px;
}

#MonthsCaroussel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#MonthsCaroussel svg {
  fill: #5b4963;
}

.calendarDayCap {
  color: #C66FD0;
  font-weight: 500;
}
.calendarCircle{
  position: relative;
}
#CalendarDays, #CalendarBody{
  display: flex;
}
.calendarDayContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #5b4963;
}
#CalendarBody{
  width: 280px;
  flex-wrap: wrap;
}

.calendarDayCap,
.calendarDayContainer{
  width: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
}

.calendarDay{
  width: 32px;
  line-height: 32px;
}

.calendarCircle {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  text-align: center;
}


#CalendarContainer svg {
  position: absolute;
  fill: transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#CalendarContainer .booked {
  fill: #C66FD0;
}

.available {
  color: #F8F5FA;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }

  .container2 {
    width: 900px;
  }

  .mainExplanation {
    font-size: 14px;
  }
  .instructions {
    font-size: 13px;
  }

}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 27px;
  }

  .container2 {
    width: 650px;
  }
  .pageTitles {
    padding-top: 100px;
  }
  .headerLines {
    width: 80px;
  }
  
  .mainExplanation {
    font-size: 13px;
  }
  .instructions {
    font-size: 12px;
  }
  #DateSelectionFreeReservation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resaBlockLeft,
  .resaBlockRight {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 28px;
  }
  h2,
  .sectionHeader2,

  .container,
  .container2 {
    width: 500px;
  }
  .headerLines {
    width: 60px;
  }
    
  .resaBlockHeader {
    font-size: 16px;
  }

  .resaBlock {
    padding: 30px 20px;
  }

  .calendarDayCap,
  .calendarDayContainer {
    width: 45px;
    height: 45px;
  }
  .calendarCircle, .calendarDay {
    width: 38px;
    height: 38px;
  }
  .calendarDay {
    line-height: 38px;
  }
  #CalendarBody {
    width: 315px;
    margin: 0 auto;
  }
  
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
  
  h1 {
    font-size: 20px;
    text-align: right;
  }
  h2,
  .sectionHeader2{
    font-size: 18px;
  }
  .container2{
    width: 330px;
  }
  
  .pageTitles {
    padding-top: 90px;
    margin-bottom: 20px;
  }
  
  .mainExplanation {
    font-size: 12px;
  }
  .instructions {
    font-size: 11px;
  }
  
  .resaBlock {
    padding: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */